.drink-image {
    width: 30px;
    height: 30px;
}

.rounds {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
}

.round {
    margin: 5px;
    padding: 5px;
    border: 1px solid #333;
}
